/*----------------------- POWER MANAGEMENT TOOL | COLOR & ICON STYLES -----------------------*/
/*-------------------------------------------------------------------------------------------*/

/*------ Globals ------*/

@font-face {
    font-family: Omnes;
    src: url("../fonts/OmnesATT-Regular.otf") format("opentype");
}

body {
    font-family: 'Omnes', 'Sans-serif', 'Arial';
    background: #ffffff;
    background-color: #ffffff;
    font-size: 16px;
}

a {
    color: #0574ac;
}

a, 
a:hover, 
a:focus, 
a:visited, 
a:link, 
a:active {
    text-decoration: none;
    cursor: pointer;
}

/*------ Helpers ------*/

.pointer {
    cursor: pointer;
}

.inline {
    display: inline-block !important;
}

.padding-none {
    padding: 0 !important;
}

.border-none {
    border: 0 !important;
    box-shadow: 0 !important;
}

.margin-none {
    margin: 0 !important;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: center;
}

.text-right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

/*------ PMT background colors ------*/

.pmt-bg-core-blue {
    background: #009fdb;
    background-color: #009fdb;
    color: #077ab4;
}

.pmt-bg-blue {
    background: #0574ac;
    background-color: #0574ac;
    color: #ffffff;
}

.pmt-bg-orange {
    background: #ea7400;
    background-color: #ea7400;
    color: #ffffff;
}

.pmt-bg-light {
    background: #f2f2f2;
    background-color: #f2f2f2;
    color: #333333;
}

.pmt-bg-green,
.pmt-valid {
    background: #4ca947;
    background-color: #4ca947;
    color: #ffffff;
}

.pmt-bg-yellow,
.pmt-caution {
    background: #fcb71c;
    background-color: #fcb71c;
    color: #ffffff;
}

.pmt-bg-red,
.pmt-invalid {
    background: #cf292a;
    background-color: #cf292a;
    color: #ffffff;
}

.pmt-bg-dark-gray,
.pmt-over-engineered {
    background: #666666;
    background-color: #666666;
    color: #ffffff;
}

.pmt-bg-gray {
    background: #959595;
    background-color: #959595;
}

.pmt-bg-light-gray {
    background: #dddddd;
    background-color: #dddddd;
}

/*------ PMT text colors ------*/

.pmt-text-white {
    color: #ffffff;
}

.pmt-text-dark {
    color: #333333;
}

.pmt-text-blue {
    color: #0574ac;
}

.pmt-text-green {
    color: #4ca947;
}

.pmt-text-red {
    color: #cf292a;
}

.pmt-text-gray {
    color: #959595;
}

/*------ PMT icon types ------*/

.pmt-status-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 11px;
    font-weight: 300;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    text-align: center;
}

.pmt-sidebar-icon {
    font-size: 18px;
    font-weight: 300;
    margin: 5px;
    display: inline-block;
    text-align: center;
}

.pmt-action-icon,
.pmt-action-icon a {
    font-size: 18px;
    font-weight: 300;
    margin: 5px;
    display: inline-block;
    text-align: center;
}

/*------ Style Guide header ------*/

.pmt-style-header {
    width: 100%; 
    min-height: 40px; 
    background: #0574ac;
    background-color: #0574ac;
    color: #ffffff; 
    padding: 10px 15px; 
    font-size: 1.1em; 
    margin-bottom: 30px;
}

/*------ Mobile ------*/

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 768px) {

}
